*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', serif;
}


body{
    background-color:#1f242d;
}
strong{
    color:#bbd336;
}
.navbar{
   
    width: 100%;
    /* left:0; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 20px 10px;
    background-color: #1f242d;
    z-index: 10;
    /* position: fixed;*/
    top:0; 
}
.navbar .logo{
    color:white;
font-size:30px;
font-weight: 700;
}

.navbar ul li{
    list-style: none;
    width: max-content;
    /* display: inline-block; */
 
}

.navbar ul li a{
    font-size:19px;
    font-weight:500;
}
.navbar ul li a:hover{
    color:#bbd336;
}
a{
    color:white;
    text-decoration: none;
}

.home{
    color: white;
    display: flex;
    height: 100vh;
    width: 80%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto; 
}
.home-info h1{
    font-size: 55px;
    margin:10px auto;
    
}
.home-info{
    
    padding: 20px 20px;
    font-size:30px;
  
}
.home-info p{
   margin-top: 20px;
    font-size:20px;
}
.home-info h2{
    margin-top: 20px;
}
.btn-icons{
    margin-top: 40px;
    
}
.icons{
    display: flex;
    gap:10px;
    margin-left: 100px;
    
    
}
.btn-icons a{ 
    
    border: 2px solid #bbd336;
    border-radius: 5px; 
    font-size:30px;
    
}
.btn-icons a:hover{
    background-color: #bbd336;
    color: #1f242d;
    box-shadow: 0 0 10px #bbd336;
    
}
.btn{
 
    background-color: #bbd336;
    height:40px;
    width:150px;
    border-radius:5px;
    color:#1f242d;
    font-weight:900;
    box-shadow:0 0 10px #bbd336;
}
.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.btn-icons{
    display: flex;    
}
.image{
    margin-bottom: 40px;
    margin-left: 150px;
    width: 350px;
    height:350px;
    border-radius: 10px;
    box-shadow:0 0 10px #bbd336;
}


/* ABOUT */
.about{
   
    height: 100vh;
    color:white;
   
   
}
.aboutme{
    
    /* margin-top: 50px; */
    text-align: center;
    height:70px;
    padding-top: 100px;
    
}


.about {
  
   
    text-align: center;
    margin-top: 20px;
 
}
.paragraph {
    height:70%;
  
    margin-top: 80px;
  
    display: flex;

    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    /* width: 100%; */
}
.photo img {
    
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow:0 0 10px #bbd336;
}
.para {
    font-size: 16px;
    /* height: 60%; */
    max-width: 600px;
    text-align: left;
    padding: 10px;
    /* margin-left: 30px; */
    border:1px solid #1f242d;
    border-radius: 10px;
    box-shadow:0 0 10px #bbd336;
    height: fit-content;
  
}
.icons-1 {
 
    /* margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    margin-top:40px;
    text-align: center;
   

}
.para p{
    margin-top: 20px;
}

/* 
@media (max-width: 768px) {
    .paragraph {
        flex-direction: column;
        text-align: center;
        width: 100%;
       
    }
    .para {
        text-align: center;
        padding: 10px;
        width: 100%;
        overflow: scroll;
    }
   
} */





/* GALLERY */


.grid-container {
    /* display: flex;
    justify-content: center; */
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 80%;
    max-width: 60%;
    border: 2px solid #bbd336;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #bbd336;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
}

.photo-1 {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



 .mygallery{
    
    height:70px;
    padding-top: 40px;

    margin-top: 20px;
    text-align: center;
} 


.gallery{
    
    height: 100vh;
    color:white;
    padding:80px;
}




/* contact me */
.contactme{
   
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    
    
}


.contact {
  
   color:white;
    width: 50%;
   
   
   /* margin-left: 400px; */
 
   
    box-shadow: 0 0 10px #bbd336;
   border:1px solid #1f242d;
    border-radius: 8px;
}

.head{
    margin-top: 10px;
    text-align: center;
    color: white;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 10px;
}

label {
    /* display: block; */
    font-weight: bold;
    margin-bottom: 5px;
}

 input, textarea {
    background-color: rgb(219, 227, 199);
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
} 

.send {
    
    width: 100%;
    padding: 10px;
    background-color: #bbca66;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  
}

.send:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.copy{

    color:white;
    text-align: center;
    background-color: #bbca66;
   
}







@media (max-width: 768px) {
    .home {
        margin-top: 30px;
    }
    .photo-1 {
        width: 100px;
        height: 100px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
       margin:auto;
       margin-top: 60px;
       max-width: 400px;
       height: 400px;
       padding-top: 20px;
    }
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hamburger{
        display: block!important;
        color: #7cf03d;
        z-index: 10;
    }
    
    .menu{
        display: none!important;
    }
    .active{
        display: block !important;
        position: absolute;
        right: 0px;
        top: 0;
        background-color: rgba(235, 234, 233, 0.21);
        /* height: 100vh; */
        width: 200px;
    }

    .navbar ul li{
        list-style: none;
        margin: 20px;
    }
    .padding-top-45px{
        padding-top: 55px;
    }
  

   
    
   
    
    .home {
        margin-left: 0;
        text-align: center;
        align-items: center;
        flex-direction: column;
      
         margin: 50px auto; 
         height: auto; 
    }
    
    .home-info h1 {
        font-size: 30px;
        margin-top: 100px;
        /* display: flex;
        justify-content: center; */
    }
    
    .home-info p {
        font-size: 16px;
    }
    
    .image {
        /* width: 100px;
        height: 100px; */
        width: 200px;
        height: 200px;
        margin: 100px auto;
    }
    .btn {
        width: 50%;
        margin:auto;
    }
}



@media (max-width: 768px) {
    
    

    /* About Section */
    .paragraph {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 20px;
    }

    .photo img {
       max-width: 200px;
      
    }

    .para {
        /* max-width: 100%; */
        /* text-align: center; */
        font-size: 14px;
        padding: 10px;
        overflow: scroll;
        
    } 
    .aboutme{

    }
}


.menu{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    width: 50%;
    justify-content: space-evenly;
}


.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #7cf03d;
}

.flex-row{
    display:flex;
}
.space-between{
    justify-content: space-between;
    width: 100%;
}